body {
	background-color: white;
	margin-top: 100px;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f2f2f2;
  padding: 5px 50px;
}

.header-right {
  float: right;
}

.container {
	background-color: white;
	margin: 3% auto 0 auto;
	/*margin: 0% auto 0 auto;*/
	width: 80%;
}

.btn {
	float: right;
    margin-bottom: 20px;
    border: none;
    width: 10%;
    padding: 1%;
}

.btn-novo, .btn-atualizar {
 	background-color: gray;
  	color: white;
  	padding: 10px 20px;
  	margin: 8px 0;
 	border-radius: 4px;
 	float: right;
    margin-bottom: 20px;
    border: none;
    width: 90px;
    margin-left: 10px;
}

.btn-novo:hover, .btn-atualizar:hover, .btn-atualizar-cot:hover {
	 background-color: darkgray;
}

.btn-atualizar-cot {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    float: right;
    margin-bottom: 20px;
    border: none;
    width: 90px;
    margin-left: 10px;
    margin: 1% 10% 1% 1%;
}

#search {
	width: 40%;
    height: 40px;
    margin-left: 10px;
}

.search {
	height: 80px;
}

#search-cot {
	width: 30%;
    height: 40px;
    margin-left: 10px;
   
}

.search-cot-name {
	margin-left: 10%;
}

.search-cot {
	height: 80px;
	margin: 10px 10px -40px 10px;
}

#produtos {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#produtos tr:nth-child(even) {
	background-color: #f2f2f2;
}


#produtos th, td {
	padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


#produtos tr:hover {
	background-color: #ddd;
}

#produtos th{
	text-align: left;
	background-color: gray;
	color: white;
}

.formProduto {
	border-radius: 5px;
  	background-color: #f2f2f2;
  	padding: 20px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date] {
	width: 51%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 38px;
}

.header-title {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.header-title-cotacao {
	text-align: center;
    padding: 10px;
    font-weight: bold;
}

input[type=submit]:hover {
  background-color: darkgray;
}

.btn {
	width: 15%;
 	background-color: gray;
  	color: white;
  	padding: 10px 20px;
  	margin: 3px 0;
  	border: none;
 	border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
	 background-color: darkgray;
}

.btn-remover {
	height: 20px;
	background-color: transparent;
	border: none;
	outline: none;
}

.btn-editar {
	height: 20px;
	background-color: transparent;
	border: none;
	outline: none;
}

.icon-edit {
	padding: 4px;
}

.icon-delete:active, .icon-edit:active, .icon-fechar:active {
	background-color: #fefefe;
}

.icon-fechar:hover, .icon-delete:hover, .icon-edit:hover {
	background-color: #fefefe;
}

.footer-content {
	float: right;
	margin-right: 5px;
}

.descricao-prodouto {
	font-weight: bold;
}

.descricao-cot-disp {
	text-align: center;
    margin-top: 40px;
}

.produto-cad {
	width: 400px;
	background-color: #fefefe;
	margin: 100px auto auto auto;
	border-radius: 5px;
}

.form-produto {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.footer-cadastro {
	background-color: #ececec;
	margin: 0 -10px -10px -10px;
    padding: 0 10px 0 10px;
}

.header-cadastro{
	background-color: #ececec;
	height: 40px;	
	margin-bottom: 10px;
}

.align-center {
	text-align: center;
}

.mouse-waiting {
	cursor: wait;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(10, 10, 10, 0.71);
	border: 1px solid grey;
    right: 0;
    left: 0;
    top:0;
    overflow: auto;
}

.btn-fechar {	
	background-color: transparent;
    float: right;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.cotacoes-list {
	width: 80%;
    background-color: #fefefe;
    margin: 100px auto auto auto;
    padding: 10px 10px 10px 10px;
}

.w3-table-all {
    border: none;
}

.cotacao-cad {
	width: 400px;
	background-color: #fefefe;
	margin: 100px auto auto auto;
	border-radius: 5px;
}

.header-cadastro-cotacao{
	background-color: #ececec;
	height: 40px;	
	margin-bottom: 10px;
}

.form-cotacao {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.footer-cadastro-cotacao {
	background-color: #ececec;
	margin: 0 -10px -10px -10px;
    padding: 0 10px 0 10px;
}

#cotacoes {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
    table-layout: fixed;
}

#cotacoes tr:nth-child(even) {
	background-color: #f2f2f2;
}


#cotacoes th, td {
	padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    overflow-wrap: break-word;
}

.column-id {
	width: 10%;
    overflow: hidden;
    white-space: nowrap;
}

.column-valor {
	width: 20%;
    overflow: hidden;
    white-space: nowrap;
}

#cotacoes tr:hover {
	background-color: #ddd;
}

#cotacoes th{
	text-align: left;
	background-color: gray;
	color: white;
}

.top-table-cotacao {
	width: 80%;
	margin-top: 80px;
}

.btn {
	width: 80px;
}

.no-data-msg {
	display: none;
}

.no-data-found {
    text-align: center;
}

.top-table {
	width: 100%;
}

.produto-com-cotacao {
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 18px;
}

.produto-com-cotacao input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.produto-com-cotacao input ~ .checkmark {
  background-color: #ccc;
}

.produto-com-cotacao input:checked ~ .checkmark {
  background-color: gray;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.produto-com-cotacao input:checked ~ .checkmark:after {
  display: block;
}

.produto-com-cotacao .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}